<IfModule mod_rewrite.c>

  Options -Indexes

  Options -Multiviews

  RewriteEngine On

  RewriteBase /Blank-MVC/admin

  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteCond %{REQUEST_FILENAME} !-f

  RewriteRule  ^(.*)$ index.php?url=$1 [QSA,L]

</IfModule>
